<div class="project-boxes jsGridView">
    <% @posts.each do |post| %>
        <div class="project-box-wrapper">
            <div class="project-box">
                <div class="project-box-header">
                    <div class="project-box-header-introduction">
                        <%= link_to attachment_image_tag(post.user, :profile_image, format: 'jpeg', size: "50x50", fallback: "no_image.jpg", size:'100x100'), user_path(post.user.id) %>
                        <%= link_to_if post.user, post.user.name, user_path(post.user.id) %>
                    </div>
                </div>
                <div class="box-progress-wrapper">
                    <%= link_to(post_path(post), class: "no-underline") do %>
                        <p class="box-content-header ">
                            <span><%=safe_join(post.body.split("\n"),tag(:br))%></span>
                        </p>
                    <% end %>
                    <%= attachment_image_tag post, :image, format: 'jpeg', size: "150x150" %>
                </div>
                <div class="project-box-footer ">
                    <div id="likes_buttons_<%= post.id %>">
                        <%= render partial: 'posts/post', locals: {post: post} %>
                    </div>
                    <div class="days-left " style="color: #ff942e; ">
                        <%= l post.created_at, format: :default %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>