
<% content_for :css do %>
    <%= stylesheet_link_tag 'nav' %>
    <%= stylesheet_link_tag 'posts' %>
<% end %>




<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <script type="text/javascript" src="nav.js"></script>
        <nav class="navbar">
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="#" class="navbar__link"><i data-feather="home"></i><span>Home</span></a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link"><i data-feather="message-square"></i><span>Messages</span></a>        
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link"><i data-feather="users"></i><span>Customers</span></a>        
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link"><i data-feather="folder"></i><span>Projects</span></a>        
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link"><i data-feather="archive"></i><span>Resources</span></a>        
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link"><i data-feather="help-circle"></i><span>Help</span></a>        
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link"><i data-feather="settings"></i><span>Settings</span></a>        
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-8">
      <div class="new-posts">
        <%= form_with model: @post, local: true do |f| %>
        <%= render 'layouts/error_messages', model: @post %>
          <%= f.text_area :body, size: "40x5", :placeholder => 'いまどんな気持ち？' %>
          <div class="image_wrapper">
            <div class="item_image_btn">
              <%= f.attachment_field :image, id: "file" %>
            </div>
            <div id="img_field" onClick="$('#file').click()" >
              <p>画像選択</p>
            </div>
          </div>
          <%= f.submit "トゥイートする", class: "btn btn-primary" %>
        <% end %>
      </div>

    <table class="table">
        <tbody>
          <% @posts.each do |post| %>
          <!--ここの表示の仕方（トゥイートの表示のさせ方）は要検討です-->
            <tr>
              <td><%= link_to post.body, post_path(post.id) %></td>
              <td><%#= post.user.name if post.user %></td>
              <td><%= link_to_if post.user, post.user.name, user_path(post.user.id) %></td>
              <td><%= attachment_image_tag post, :image, format: 'jpeg', size: "100x100" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
