<div class="container">
  <h2>ホーム</h2>
  <div class="row">
    <div class="col">
      <div class="new-posts">
        <%= form_with model: @post, local: true do |f| %>
        <%= render 'layouts/error_messages', model: @post %>
          <%= f.text_area :body, class: "col-xs-12" %>
          <%= f.submit "トゥイートする", class: "btn btn-primary col-xs-12" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table">
        <tbody>
          <% @posts.each do |post| %>
          <!--ここの表示の仕方（トゥイートの表示のさせ方）は要検討です-->
            <tr>
              <td><%= link_to post.body, post_path(post.id) %></td>
              <td><%#= post.user.name if post.user %></td>
              <td><%= link_to_if post.user, post.user.name, user_path(post.user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
